#top
  %header#header
    .inner
      %h1
        %strong> I am a Software Developer who Specializes in using Ruby On Rails to automate processes and Solve problems
        %br/
  #main
    %iframe.resume{:src => "Resume.pdf", :type => "application/pdf"}
