/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Lato);
nav a {
    margin: 1.5em;
    padding: 0.5em;
}
nav a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #000000!important;
    border-bottom: 2px solid deepskyblue;
}
body {
    background-image: -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(232, 172, 0, 0.5)), to(rgba(215, 40, 40, 0.4))),  url('first.jpg');
}

.ghost{

    background: transparent;
    color: white!important;

    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

footer {

}